.header {
  height: 774px;
  position: relative;
  background: no-repeat center bottom url('/images/bgs_header.png');

  @include respond(tabletL) {
    height: 1100px;
    background: none;
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1429px;
    width: 100%;
  }
}
