.ourTeam {
  padding-bottom: 80px;
  position: relative;
  background:
    no-repeat top right url('/images/our-team/bgs_logo.png'),
    no-repeat bottom -30px right url('/images/our-team/bgs_logo_2.png');
}

.title {
  @include OpenSans_36_400;
  color: var(--black);
  text-align: center;
  padding: 20px 0px;
  position: relative;
  margin-bottom: 48px;

  .line {
    position: absolute;
    bottom: 20px;
    right: 37%;
    z-index: -1;
  }
}

.content {
  padding: 0px 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include respond(laptop) {
    justify-content: center;
    padding: 0 20px;
  }
  gap: 48px;
  margin-bottom: 48px;
}

.info {
  padding: 0px 200px;
  @include respond(laptop) {
    padding: 0 50px;
  }
  @include OpenSans_21_400;
  color: var(--black);
  margin-bottom: 56px;
}

.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 0px 200px;
  @include respond(laptop) {
    padding: 0 50px;
  }
}

.socials {
  .item_one {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;

    .name {
      @include OpenSans_18_400;
      color: var(--black);
      padding-right: 116px;
      text-transform: uppercase;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        @include transition;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .item_two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .name {
      @include OpenSans_18_400;
      color: var(--black);
      padding-right: 100px;
      text-transform: uppercase;
    }

    .phone {
      @include OpenSans_18_400;
      color: var(--black);
    }
  }
}
