.wrapper {
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tabletL) {
    padding: 4px 24px;
  }

  @include respond(mobileL) {
    padding: 4px 16px;
  }
}
