.root {
  display: none;
  position: relative;

  @include respond(tabletL) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    @include respond(mobileL) {
      width: 36px;
      height: 36px;
    }
  }
}

.content {
  position: fixed;
  top: 83px;
  right: 0;
  background-color: var(--white);
  width: 100%;
  max-width: 480px;
  z-index: 1001;
  height: calc(100vh - 83px);
  overflow-y: auto;

  @include respond(mobileL) {
    top: 62px;
    height: calc(100vh - 62px);
  }
}

.contentWrapper {
  padding: 26px;
}

.online {
  margin-bottom: 24px;
}

.item {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}
