.root {
  display: flex;
  align-items: center;
  gap: 36px;

  @media only screen and (max-width: 950px) {
    flex-direction: column;
    gap: 24px;
  }
}

.wrp {
  display: grid;
  grid-template-columns: minmax(200px, 200px) max-content;
  align-items: center;
  gap: 48px;

  @include respond(mobile) {
    grid-template-columns: minmax(100px, 200px) max-content;
    gap: 16px;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  width: 100%;

  input {
    border: 2px dashed #252525;
    font-weight: 400;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 16px;
    height: 35px;
    color: var(--black);
  }

  select {
    border: 2px dashed #252525;
    padding: 4px 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 15px;
    height: 35px;
    color: var(--black);
  }
}

.formText {
  @include OpenSans_24_400;
  color: var(--black);

  @include respond(mobileL) {
    font-size: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.btn {
  padding: 6px 20px;
  background: #393c40;
  border-radius: 10px;
  @include OpenSans_20_400;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0 24px 72px 0 rgba(47, 47, 47, 0.2);

  @include respond(mobileL) {
    font-size: 18px;
  }

  &:focus {
    background: #393c40;
  }
}
