.root {
  position: relative;
  background: url('/images/guarantees/bg_guarantees.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 24px;
}

.online {
  margin-right: 100px;
}

.wrapper {
  display: flex;
  margin-top: 100px;

  background: no-repeat bottom url('/images/guarantees/bg_white.png');
}

.content {
  width: 100%;
  max-width: 1180px;
  padding-top: 120px;

  p {
    margin-bottom: 24px;
    @include OpenSans_18_400;
    color: var(--black);
  }
}

.socials {
  margin-right: 100px;
  margin-top: 0px;
}
