.root {
  margin-top: 100px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;

    @include respond(laptop) {
      flex-direction: column;
    }
  }
}

.block {
  position: relative;
  max-width: 477px;

  @include respond(mobileL) {
    img {
      width: 100%;
      height: 200px;
    }
  }

  .imagesEl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.imageMiddle {
  position: relative;
  width: 468px;
  height: 547px;

  @include respond(laptopL) {
    width: 300px;
  }

  @include respond(mobileL) {
    width: 100%;
  }

  .orange {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include respond(tablet) {
      width: 100%;
    }
  }

  .people {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    @include respond(mobileL) {
      width: 100%;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1413px;
  margin: -20px auto 0 auto;

  @include respond(laptop) {
    flex-direction: column;
  }
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -25px;

  @include respond(laptop) {
    margin-top: 110px;
    flex-direction: column;
    gap: 110px;
  }
}
