.title {
  @include OpenSans_36_400;
  color: var(--black);
  text-align: center;
  padding: 20px 0px;
  position: relative;

  .line {
    position: absolute;
    bottom: 20px;
    right: 43%;
    z-index: -1;
  }
}

.content {
  background: no-repeat center url('/images/bgs_section_about.png');

  .contentInner {
    padding: 190px 50px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto 64px auto;

    @include respond(laptopG) {
      padding: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  @include respond(laptopG) {
    background: none;
  }
}

.text {
  background: no-repeat left url('/images/condition/bgText.png');
  padding: 50px;

  max-width: 1100px;

  @include OpenSans_15_400;

  @include respond(laptopG) {
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }

  @include respond(tablet) {
    padding: 10px;
  }
}

.textItem {
  display: flex;
  max-width: 900px;
  gap: 10px;
}

.imgRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;

  @include respond(laptopG) {
    position: static;
    transform: none;
  }

  .shadow {
    position: absolute;
    z-index: -1;
    left: -10px;
    bottom: -10px;
    filter: blur(10px);

    @include respond(laptopG) {
      display: none;
    }
  }

  .bg {
    @include respond(laptopG) {
      display: none;
    }
  }

  .coins {
    position: absolute;
    bottom: 70px;
    left: 60px;

    @include respond(laptopG) {
      position: static;
    }
  }
}

.wrapper {
  width: 1324px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  .methods__header {
    text-align: center;

    .methods__header_title {
      min-height: 59px;
      padding: 13px 16px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0 0 24px 0;
      font-size: 24px;
      color: #000;
      text-align: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 24px 72px 0 rgba(47, 47, 47, 0.2);
      border-radius: 17px 17px 32px 32px;

      &::before {
        left: 100%;
        margin: 0 0 0 6px;
        transform: scale(-1, 1);
        width: 164px;
        height: 46px;
        content: ' ';
        display: block;
        position: absolute;
        top: 29px;
        background: no-repeat 0 0 url('/images/condition/methods/linerRight.png');

        @include respond(laptop) {
          display: none;
        }
      }

      &::after {
        right: 100%;
        margin: 0 6px 0 0;
        width: 164px;
        height: 46px;
        content: ' ';
        display: block;
        position: absolute;
        top: 29px;
        background: no-repeat 0 0 url('/images/condition/methods/linerLeft.png');

        @include respond(laptop) {
          display: none;
        }
      }
    }
  }

  .methods__block {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;

    @include respond(laptop) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .methods__block_left {
      flex: none;
      width: 396px;

      @include respond(laptop) {
        width: 100%;
      }

      .methods__block_title {
        margin: 0 0 30px 0;
        font-size: 22px;
        color: #000;
        text-align: center;
        text-transform: uppercase;

        span {
          min-width: 192px;
          height: 46px;
          line-height: 44px;
          padding: 0 12px;
          display: inline-block;
          vertical-align: top;
          border: 2px dashed #000;
          border-radius: 14px;
          position: relative;

          .shadow {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);

            @include respond(tablet) {
              width: 100%;
            }
          }
        }
      }

      .methods__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @include respond(laptop) {
          justify-content: center;
        }
      }
    }

    .methods__block_radius {
      flex: none;
      width: 210px;
      height: 210px;
      margin: 12px 0 0 0;
      background: no-repeat center center url('/images/condition/methods/bgsMethods.png');
      background-size: 100% 100%;

      @include respond(laptopC) {
        width: 130px;
        height: 130px;
      }

      @include respond(laptop) {
        display: none;
      }
    }

    .methods__block_right {
      flex: none;
      width: 396px;

      @include respond(laptop) {
        width: 100%;
      }

      .methods__block_title {
        margin: 0 0 30px 0;
        font-size: 22px;
        color: #000;
        text-align: center;
        text-transform: uppercase;

        span {
          min-width: 192px;
          height: 46px;
          line-height: 44px;
          padding: 0 12px;
          display: inline-block;
          vertical-align: top;
          border: 2px dashed #000;
          border-radius: 14px;
          position: relative;

          .shadow {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);

            @include respond(tablet) {
              width: 100%;
            }
          }
        }
      }

      .methods__items {
        display: flex;
        gap: 15px;
        align-items: center;
        flex-wrap: wrap;



        @include respond(laptop) {
          justify-content: center;
        }
      }
    }
  }

  .solution_task {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;

    .block_title {
      margin: 0 0 20px 0;

      .block_title__label {
        min-height: 57px;
        padding: 15px 0;
        position: relative;
        z-index: 3;
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        justify-content: center;
        margin: 0 73px 0 0;
        font-size: 20px;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        perspective: 236px;

        &::before {
          width: auto;
          height: auto;
          content: ' ';
          display: block;
          position: absolute;
          z-index: -1;
          left: 0;
          right: -40px;
          top: 0;
          bottom: 0;
          box-shadow: 0 24px 72px 0 rgba(47, 47, 47, 0.2);
          border-radius: 6px;
          transform-style: preserve-3d;
          transform: rotateY(5deg);
        }
      }
    }

    .solution_task__text {
      padding: 0 94px 0 230px;
      font-weight: 500;
      font-size: 16px;
      color: #000;

      line-height: 1.5;

      @include respond(laptop) {
        padding: 20px;
      }

      ol {
        padding: 0;
        list-style: none;
        display: block;
        margin: 16px 10px 16px 10px;
        overflow: hidden;
        line-height: 1.24;
      }
    }
  }
}

.imageWrapper {
  cursor: pointer;

  img {
    filter: grayscale(1);
    transition: all .2s ease-in-out;

    &:hover {
      filter: grayscale(0);
      transition: all .2s ease-in-out;
    }
  }
}