.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  @include respond(tabletL) {
    width: 311px;
    height: 75px;
  }

  @include respond(mobileL) {
    width: 230px;
    height: 54px;
  }
}
