.root {
  position: relative;
}

.navList {
  display: flex;
	justify-content: center;
	background-color: transparent;
	list-style: none;

}

.item {
  padding: 4px;
	background-color: transparent;
  @include transition;
  border-radius: 6px;

  &:hover {
    background-color: var(--gray-4);
  }
}