.root {
  position: relative;
  width: 100%;
  border-radius: 16px;
  background: var(--gray-6);
}

.trigger {
  cursor: pointer;
  padding: 16px 20px;
  background-color: var(--gray);
  @include transition;
  border-radius: 16px;
  text-transform: uppercase;
  text-align: start;
  color: var(--black);
  width: 100%;

  &:focus {
    background-color: var(--gray);
  }
}

.content {
  background: var(--gray-6);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
}

.item {
  background: transparent;
  padding: 4px 20px;
  text-transform: uppercase;
  text-align: start;

  &:hover {
    background-color: var(--gray);
  }

  &:active {
    background-color: var(--gray);
  }
}
