.root {
  padding: 0px 98px;
  max-width: 1600px;
  margin: 0 auto 64px auto;

  @include respond(laptopL) {
    padding: 0px 20px;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;

    @include respond(tabletSM) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(tablet) {
      gap: 0px;
    }

    .iconTop {
      @include respond(tablet) {
        margin-top: -80px;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      position: relative;
      background: no-repeat center url('/images/our-team/orange_light_card.png');
      background-size: 130%;

      .iconText {
        position: absolute;
        right: -40px;
      }
    }
  }

  .content {
    display: flex;

    @include respond(laptopC) {
      flex-direction: column;
    }

    .lists {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;

      .list {
        flex: 1;
      }

      .h3 {
        @include OpenSans_22_600;
      }

      .ul {
        margin-top: 10px;
        margin-left: 50px;
      }

      .li {
        position: relative;
        @include OpenSans_18_400;
        font-style: italic;
      }

      .li::before {
        content: '';
        z-index: 100000;
        position: absolute;
        width: 7px;
        height: 7px;
        top: 4px;
        left: -15px;
        border-radius: 100%;
        background: var(--orange);
      }
    }
  }

  .title {
    @include OpenSans_36_400;
    position: relative;
    color: var(--black);
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;

    .line {
      position: absolute;
      bottom: 5px;
      right: 32%;
      z-index: -1;
    }
  }

  .subtitle {
    @include OpenSans_22_400;
  }

  .tableWrapper {
    overflow-x: scroll;
  }

  .tableContainer {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
  }

  .calculateBtn {
    padding: 0 10px;
    border-top: none;
    cursor: pointer;
    background: var(--orangeLight) !important;
    font-weight: 600 !important;
    transition: 0.3s;

    &:hover {
      filter: contrast(2);
    }

    &:active {
      scale: 0.9;
    }
  }

  .tableContainer th,
  .tableContainer td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

    input,
    select {
      color: var(--black);
      width: 100%;
    }
  }

  .tdText {
    background: none !important;
    border: none !important;

    span {
      font-weight: 600;
    }

    p {
      font-style: italic;
    }
  }

  .tableContainer .row td:nth-child(-n + 4) {
    border-top: 5px solid var(--orange);
  }

  .tableContainer td:nth-child(n + 6) {
    border-top: 5px solid var(--black);
  }

  .tableContainer td {
    background: var(--gray-3);
    @include OpenSans_18_400;
  }

  .tableContainer th {
    border: none;
    @include OpenSans_18_400;
  }

  .tableContainer th:first-child {
    padding-right: 100px;
  }

  .tdColFirst {
    padding: 20px !important;
    border: none !important;
    font-style: italic !important;
    background: rgb(226, 226, 226) !important;
    background: linear-gradient(180deg,
        rgb(237, 237, 237) 0%,
        rgba(50, 145, 164, 0) 100%) !important;
  }

  .contentImg {
    @include respond(tabletS) {
      width: 100%;
      height: 50%;
    }
  }
}