.inner {
  max-width: 1600px;
  margin: 0 auto;
}

.descriptions {
  position: relative;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 40px;

  @include OpenSans_18_400;

  &::after {
    content: '';
    position: absolute;
    left: -110px;
    z-index: -2;
    top: -200px;
    width: 332px;
    height: 280px;
    opacity: 0.1;
    background: no-repeat url('/images/project-life-page/logo_back.png');
  }
}

.description {
  position: relative;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 40px;
  @include OpenSans_18_400;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: -2;
    top: -200px;
    width: 332px;
    height: 280px;
    opacity: 0.1;
    background: no-repeat url('/images/project-life-page/logo_back.png');
  }
}

.text {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 30px;
    background: no-repeat url('/images/project-life-page/light.png');
  }
}

.imagesSection3 {
  margin-top: 20px;
}

.setiWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  margin-top: 100px;
  margin-right: 20px;

  .socials {
    display: flex;
    gap: 8px;
  }
}

.online {
  position: absolute !important;
  right: 100px;
  top: 100px;
  @include respond(tabletL) {
    display: none !important;
  }
}
