:root {
  --bg_main: #0e080c;
  --white: #ffffff;
  --black: #000000;
  --orange: #fd6902;
  --gray: #cac9c9;
  --gray-2: #797979;
  --gray-3: #dfdfdf;
  --gray-4: #d8d8d8;
  --gray-5: #dcdcdc;
  --gray-6: #e9e9e9;
  --shadow_1: 0px 8px 16px rgba(37, 33, 41, 0.04), 0px 0px 6px rgba(37, 33, 41, 0.04);
  --shadow_2: 0px 0px 47px var(--gray);
  // --shadow_3: -10px 0px 0px rgba(37, 33, 41, 0.04), 0px 0px 6px rgba(37, 33, 41, 0.04);
}
