:root {
  /* Main colors */
  --background_main: #0e080c;
  --background_second: #201b1e;
  --background_input: rgba(255, 255, 255, 0.1);
  --background_ticker: #262024;
  --background_notification: #15151f;
  --white: #ffffff;
  --black: #000000;
  --red: #ff5959;
  --placeholder: #858585;
  --grayscale: #20252c;
  --grayscale_gray: #868385;
  --modal_bg: #1d1d1d;
  --placeholder_gradient: linear-gradient(92.19deg, #8d9693 3.25%, #1f2424 102.66%);
  --skeleton: #0000001c;
  --skeleton2: rgba(255, 255, 255, 0.13);
  --line_gradient: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --steam_blue: rgba(54, 72, 108, 0.5);
  --grayscale_8: rgba(255, 255, 255, 0.08);
  --grayscale_24: rgba(255, 255, 255, 0.24);
  --brand_grayscale_8: rgba(111, 204, 170, 0.08);
  --grayscale_80: #1c283e;
  --header_bg: #060c15;
  --bg_blue_40: #7f8ba1;
  --bg_blue_60: #2F4368;
  --bg_blue_100: #131C2C;
  ---background_new: linear-gradient(180deg, rgba(4, 5, 13, 0.9) 0%, rgba(10, 39, 48, 0.9) 100%);

  //PRODUCTS PRODUCTS PRODUCTS PRODUCTS PRODUCTS PRODUCTS
  //STEAM
  --brand: #6fccaa;
  --brand_border: #30a876;
  --brand_gradient: linear-gradient(92.19deg, #8afcd3 3.25%, #215e62 102.66%);
  --brand_gradient_reverse: linear-gradient(92.19deg, #215e62 3.25%, #8afcd3 102.66%);
  --btn_gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(92.19deg, #8afcd3 3.25%, #215e62 102.66%);

  //GENSHIN
  --brand_gradient_genshin: linear-gradient(92.19deg, #78a6ff 3.25%, #213b62 102.66%);
  --brand_genshin: #78a6ff;
  --btn_gradient_genshin: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    linear-gradient(92deg, #78a6ff 3.25%, #213b62 102.66%);

  /* Button colors */
  --btn_primary: rgba(177, 240, 66, 1);
  --btn_primary_hover: rgba(177, 240, 66, 0.7);
  --btn_primary_active: rgba(177, 240, 66, 0.9);
  --btn_secondary: rgba(225, 226, 230, 0.8);
  --btn_secondary_hover: rgba(255, 255, 255, 0.2);
  --btn_secondary_active: rgba(255, 255, 255, 0.5);
  --btn_border: rgba(255, 255, 255, 0.4);

  --blog_white: #ffffff;
  --blog_placeholder: #858585;
  --blog_brand: #6fccaa;
  --blog_black: #0e080c;

  --start-color: #007cf0;
  --end-color: #00dfd8;

  --shadow_1: 0px 0px 8px 1px rgba(255, 255, 255, 0.4);

  --tg: #6da9ea;
  --vk: #07f;
  --yellow: #CA6F23;
  --yellow_2: rgb(229, 135, 17);
  --light_blue_gradient: #0087EC;
}
