.footer {
  height: 330px;
  position: relative;
  background: no-repeat center bottom url('/images/bgs_Footer.png');
}

.wrapper {
  padding: 110px 200px 60px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-size: 16px;
  color: var(--white);
}