.history {
  padding: 0px 98px;
  max-width: 1600px;
  margin: 0 auto 64px auto;

  @include respond(laptopL) {
    padding: 0 20px;
  }
}

.title {
  @include OpenSans_36_400;
  color: var(--black);
  margin-bottom: 16px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;

  @include respond(laptop) {
    grid-template-columns: 1fr;
  }
  p {
    @include OpenSans_20_400;
    line-height: 1.15;
    color: var(--black);
  }
}
